telethon
googletrans==3.1.0a0
hijri_converter
user_agent
heroku3
gitpython
requests
pytube
youtube-search
sqlalchemy
asyncio
httpx>=0.23.0 # not directly required, pinned by Snyk to avoid a vulnerability
